<% total_page = User.count/User::PER_PAGE %>
<h1>KarmaVille's Most Famous</h1>
<table class="table table-bordered table-striped">
  <tr>
    <th>Karma</th>
    <th>Name</th>
    <th>Username</th>
    <th>Email</th>
  </tr>
  <% @users.each do |user| %>
    <%= render 'user_row', :user => user %>
  <% end %>
</table>
<div class="pagination">
  <ul>
    <li><%= link_to raw("&laquo;&laquo;") , root_path(page: 1) %></li>
    <li><%= link_to raw("&laquo;"), root_path(page: @page.to_i - 1) if @page.to_i > 1 %></li>
 
    <li>  <%= link_to @page.to_i - 2, root_path(page: @page.to_i - 2) if @page.to_i > 2 %></li>
    <li>  <%= link_to @page.to_i - 1, root_path(page: @page.to_i - 1) if @page.to_i > 1 %></li>
    <li class='active' ><%= link_to @page, root_path(page: @page.to_i)%></li>
    <li>  <%= link_to @page.to_i + 1, root_path(page: @page.to_i + 1) if @page.to_i < total_page %></li>
    <li>  <%= link_to @page.to_i + 2, root_path(page: @page.to_i + 2) if @page.to_i < total_page - 1%></li>

    <li><%= link_to raw("&raquo;"), root_path(page: @page.to_i + 1) if @page.to_i < total_page %></li>
    <li><%= link_to raw("&raquo;&raquo;"), root_path(page: total_page) %></li>
  </ul>
</div>
